html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #2a2a2a;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

p {
  color: #2a2a2a;
  margin: 0;
  padding: 0;
  font-size: 0.95em;
  line-height: 145%;
}

a {
  color: #2ad196;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: #67e0b6;
}

button {
  background-color: #197d5a;
  border: none;
  transition: all 0.2s;
  outline: none;
  color: #ffffff;
  font-size: 0.95em;
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  top: 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
}
button:hover {
  background-color: #15684b;
  top: -2px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}
.section-wrapper .section {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 520px) {
  .section-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.nav-wrapper {
  padding: 16px 24px;
}
.nav-wrapper nav {
  position: relative;
  z-index: 4;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-wrapper nav img {
  height: 32px;
  width: auto;
  margin-right: auto;
}
.nav-wrapper nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-wrapper nav ul li {
  display: inline-block;
  margin-left: 24px;
}
.nav-wrapper nav ul li a {
  color: #ffffff;
}

@media (max-width: 520px) {
  .nav-wrapper {
    padding: 16px 12px;
  }
  .nav-wrapper nav img {
    height: 24px;
  }
  .nav-wrapper nav ul li {
    font-size: 0.9em;
    margin-left: 12px;
  }
}
.header-shader {
  height: 60vh;
  min-height: 450px;
  background-color: #2ad196;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.center-wrap {
  position: relative;
  z-index: 3;
  margin-top: 48px;
}
.center-wrap .center {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.center-wrap .center .left {
  margin-top: 72px;
  margin-right: 24px;
}
.center-wrap .center .left h1 {
  color: #ffffff;
  margin: 0;
  margin-bottom: 18px;
  font-size: 2em;
}
.center-wrap .center .left .desc {
  color: #ffffff;
  max-width: 600px;
  font-size: 1.05em;
  margin-bottom: 24px;
}
.center-wrap .center .right img {
  width: auto;
  height: 70vh;
}

@media (max-width: 750px) {
  .header-shader {
    height: 60vh;
    min-height: 420px;
  }

  .center-wrap {
    margin-top: 32px;
  }
  .center-wrap .center .left {
    margin-top: 48px;
    margin-right: 24px;
  }
  .center-wrap .center .left h1 {
    font-size: 1.8em;
  }
  .center-wrap .center .left .desc {
    font-size: 1.05em;
    margin-bottom: 24px;
  }
  .center-wrap .center .right img {
    height: 65vh;
  }
}
@media (max-width: 550px) {
  .header-shader {
    height: 85vh;
    min-height: auto;
  }

  .center-wrap {
    margin-top: 30px;
  }
  .center-wrap .center {
    display: block;
  }
  .center-wrap .center .left {
    margin-top: 0;
    margin-right: 24px;
  }
  .center-wrap .center .left h1 {
    font-size: 1.6em;
  }
  .center-wrap .center .left .desc {
    font-size: 1em;
    margin-bottom: 24px;
  }
  .center-wrap .center .right {
    margin-top: 36px;
    text-align: center;
  }
  .center-wrap .center .right img {
    width: 80%;
    max-width: 300px;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
